@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E1E; /* Dark Gray */
  --accent: #40E0D0; /* Soft White */
  --foreground: #F5F5F5; /* Soft White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #F5F5F5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'aeroportal', sans-serif;
}

@font-face {
  font-family: 'aeroportal';
  src: url('/fonts/aeroportal-3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'boeing';
  src: url('/fonts/BOEING-style.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the primary font to specific elements */
.font-primary {
  font-family: 'aeroportal', sans-serif;
}

/* Apply the secondary font to specific elements */
.secondary-font {
  font-family: 'boeing', sans-serif;
}